/*contacto*/
.nav--contacto { 
    display: flex;
    justify-content: space-between;
    background-color: $colorNavContacto;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
    
    .h2__contacto {
        font-size: 5rem;
        line-height: 1.15;
        letter-spacing: 1px; 
        text-align: center;  
        color: black; 
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        margin:6rem 0 1rem 0;
    
    }
    
    .article__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .contacto__imgContainer {
        width: 50px;
        height: 50px;
    }
    
    .contacto__img--ig {
        width: 100%;
        height: 100%;
    }
    
    .containerForm__contacto {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 2rem;
        width: 100%;
        max-width: 15rem;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        background-color: $colorNavContacto;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        padding: 1.5rem;
    }
    