
/*SOBRE MI*/
/*SOBRE MI*/


.nav--sobreMi {
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    display: flex;
    justify-content: space-between;  
}

.h2__sobreMi {
    font-size: 4rem;
    line-height: 1.15;
    letter-spacing: 1px;
    margin: 6rem 0 1rem 0; 
    text-align: center;  
    color: black; 
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container__sobreMi {
    display: flex;
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    margin: auto;
    flex-wrap: wrap;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
}

.h3__sobreMi {
    font-size: 3.5rem;
    margin: 1.5rem 0 1rem 0; 
    text-align: center;  
    color: black; 
    font-family: sans-serif;
    font-weight: 200;
}

.containerImg__sobreMi {
    display: flex;
    flex-direction: row;
    width: 330px;
    height: 100%;
}

.img__sobreMi {
    width: 100%;
    height: 100%;  
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.container__romiText {
    display: flex;
}

.romiText__sobreMi{
    display: flex;
    margin: 2rem;
    line-height: 1.5em;
}

#grid__sobreMi {
    display: grid;
    grid-template-areas: 
    "text1 text2"  "text3 text4"
   ;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1.5rem; 
}

.text__nutricionDepor {
    grid-area: "text1";
    width: 100%;
    height: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    border-radius: 10px;
   
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
}

.text__nutricionDepor--1 {
    grid-area: "text2";
    width: 100%;
    height: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;  
}
.text__nutricionDepor--2 {
    grid-area: "text3";
    width: 100%;
    height: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
}
.text__nutricionDepor--3{
    grid-area: "text4";
    width: 100%;
    height: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(90deg, #FFDEE9 0%, #B5FFFC 100%);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
}

.p__nutricionDepor {
    margin: auto;
    text-align: center;
}

.container__nutrcionDepor {
    margin: 2rem;
}
