/*variables*/

$colorNavIndex: #F7ECDE;
$colorNavSobreMi: #FFDEE9;
$colorNavNutricion: #FBAB7E ;
$colorNavTestimonios: #85FFBD ;
$colorNavContacto: #0093E9;

$palete: (
'colorNavIndex': #F7ECDE;
'colorNavSobreMi': #FFDEE9;
'colorNavNutricion': #FBAB7E ;
'colorNavTestimonios': #85FFBD ;
'colorNavContacto': #0093E9;
)