@import "./index";
@import "./sobreMi";
@import "./nutricion";
@import "./testimonios";
@import "./contacto";
@import "./vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*propiedades body*/

body {
    font-family: 'Poppins', sans-serif;  
}

.background__index {
    
    
    background-image: url(../multimedia/fondo2.jpg);
    background-size:cover;
    height: 100vh;
    padding: auto;
    margin-top: 0;
    background-repeat: no-repeat;
}
#gridIndex {
    display: grid;
    grid-template-areas: 
    "headerNav"
    "main"
    "foteer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color:#F7ECDE ;
}

footer {
position: relative;
bottom: 0;
font-size: smaller;
text-align: center;
}

.wave {
    position: relative;
    width: 100%;
    bottom: 4.5rem;
}